@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    font-family: 'JetBrains Mono', monospace !important;
  }

  html {
    @apply text-sm md:text-base bg-white dark:bg-dark-bg;
    font-family: 'JetBrains Mono', monospace !important;
  }

  body {
    @apply bg-white dark:bg-dark-bg text-black dark:text-white antialiased;
    font-family: 'JetBrains Mono', monospace !important;
  }

  h1 {
    @apply text-lg md:text-xl font-normal;
  }

  h2 {
    @apply text-base md:text-lg font-normal;
  }

  h3 {
    @apply text-sm md:text-base font-normal;
  }

  input, textarea, select {
    @apply text-sm md:text-base;
  }
}

@layer components {
  .dark input[type='text'],
  .dark input[type='email'],
  .dark input[type='password'],
  .dark input[type='number'],
  .dark input[type='date'],
  .dark select,
  .dark textarea {
    @apply bg-dark-input border-gray-600 text-white;
  }

  .dark input:focus,
  .dark select:focus,
  .dark textarea:focus {
    @apply border-white ring-white;
  }

  .dark input::placeholder,
  .dark textarea::placeholder {
    @apply text-gray-500;
  }
}

@layer utilities {
  .border-thin {
    border-width: 1px;
  }
}